@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ye Olde Shoppe</h1>

</div>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Shop">Let's Go Shopping!</a>
</li>
<iframe src="https://giphy.com/embed/PoGjMSWqt4RHHunrmy" width="480" height="346" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spicegirls-spice-girls-wannabe-PoGjMSWqt4RHHunrmy">via GIPHY</a></p>

<style>
    body {
        background-image: linear-gradient(to right, deeppink, maroon );
        
    }

    #leg1 {
        color: black;
    }
</style>
