@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p><iframe src="https://giphy.com/embed/VIEy2m9UtWatviq1U6" width="480" height="206" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spicegirls-mood-posh-spice-world-2019-VIEy2m9UtWatviq1U6">via GIPHY</a></p></p>

